body {
    font-family: 'Inter', sans-serif;
}
h1, h2, h3 {
    font-family: 'Lora', serif;
}
.chart-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    max-height: 350px;
}
@media (min-width: 640px) {
    .chart-container {
        height: 350px;
    }
}